{% extends 'base.html.twig' %}
{% block title "Vos achats" %}
{% block body %}
    <div class="container cart-list">
        {% if items | length > 0 %}
            <div class="vos-achats">
            <h3 class="text-center mt-4">Vos achats</h3>
            <h5 class="text-center mb-3 total-achat">Total de tous vos achats:
                <b>{{ total | number_format(0,'',' ') }}</b>
                Fmg
            </h5>
            <button type="button" class="btn btn-danger btn-sm px-4 btn_rounded btn-remove-all-cart">Supprimer tout
            </button>
            <a class="btn btn-warning btn-sm px-4 btn_rounded" href="{{ path('achat_proforma') }}">Proforma</a>
            {% include "partials/notification.html.twig" %}
            <div class="row">
                {% for item in items %}
                    <div class="col-sm-4 my-2">
                        <div class="card mb-2 shadow">
                            <div class="card-header bg-info text-white d-flex justify-content-between align-items-center">
									<span>
										{{ item.materiel is not null ? item.materiel.nomMateriel : "" }}
									</span>
                                {% if item.materiel is not null %}
                                    <a href="{{ path('cart_remove',{'id': item.materiel.id}) }} "
                                       data-url={{ path('cart_remove',{'id': item.materiel.id} ) }}
                                       class="btn btn-sm btn-danger btn-remove-cart px-4 btn_rounded">Supprimer
                                    </a>
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <p>Acheté:
                                    <b>
                                        <span class="qte-achat">{{ item.quantity }}</span>
                                    </b>
                                </p>
                                <p>Prix unitaire:
                                    <b>{{ item.materiel ? item.materiel.prixUnitaire | number_format(0,'',' ') : "" }}</b>
                                    Fmg</p>
                                <p>Matériel:
                                    <b>{{ item.materiel ?  item.materiel.materiel.nomMarque : "" }}</b>
                                </p>
                                <p>Catégorie:
                                    <b>{{ item.materiel ? item.materiel.categorie : "" }}</b>
                                </p>
                                <p>Département:
                                    <b>{{ item.materiel.departement is not null ? item.materiel.departement.nomDepartement : ""}}</b>
                                </p>
                                <p>Total:
                                    <b>{{ item.materiel ? (item.quantity * item.materiel.prixUnitaire) | number_format(0,'',' ') : item.quantity}}</b>
                                    Fmg
                                </p>
                            </div>
                            {% if item.materiel is not null %}
                                <div class="card-footer">
                                    <a href="{{ path('cart_increase',{'id': item.materiel.id}) }}"
                                       class="btn btn-sm btn-primary btn-increase-qty px-2 btn_rounded">Augmenter la
                                        quantité</a>
                                    <a href="{{ path('cart_decrease',{'id': item.materiel.id}) }}"
                                       class="btn btn-sm btn-secondary btn-decrease-qty px-2 btn_rounded">Dimunier la
                                        quantité</a>
                                </div>
                            {% endif  %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {# <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                {{ knp_pagination_render(items) }}
                            </ul>
                        </nav> #}
            {% if is_granted("ROLE_RESPONSABLE") %}
                <div class="width-30">
                    <div class="form-group">
                        <label>Le nom du client</label>
                        <input type="text" class="client-name form-control" id="client-name">
                    </div>
                    <div class="form-group">
                        <label>Type de paiement</label>
                        <select class="type-paiement form-control" id="type-paiement">
                            <option>--Veuillez selectionner--</option>
                            <option>Mvola</option>
                            <option>Orange money</option>
                            <option>Airtel money</option>
                            <option>Cash</option>
                            <option>Virement bancaire</option>
                            <option>Abonné</option>
                        </select>
                    </div>
                    <div class="form-group avance-echeance-achat d-none">
                        <label>Date d'écheance</label>
                        <input type="date" class="date-echeance form-control" id="date-echeance">
                    </div>
                </div>
                <div>
                    <div class="row">
                        {% for item in items %}
                            <div class="col-sm-3">
                                <div class="avance-echeance-achat d-none">
                                    <div class="form-group d-none">
                                        <label>Le nom du client</label>
                                        <input type="text" class="nom form-control" name="nom">
                                    </div>
                                    <div class="form-group d-none">
                                        <label>Type de paiement</label>
                                        <input type="text" class="type-paiement form-control" name="type-paiement">
                                    </div>
                                    <div class="form-group d-none">
                                        <label>Materiel</label>
                                        <input type="text" class="materiel form-control" name="materiel_id"
                                               value="{{ item.materiel ? item.materiel.id : ""}}">
                                    </div>
                                    <div class="form-group d-none">
                                        <label>Quantité</label>
                                        <input type="text" class="quantity form-control" name="quantity"
                                               value="{{ item.quantity }}">
                                    </div>
                                    <hr class="bg-info hr-cart d-none"/>
                                    <div class="form-group">
                                        <label>Détail matériel</label>
                                        <span>:
                                                <b>{{ item.materiel is not null ? item.materiel.nomMateriel : "" }}</b>
                                            </span>
                                    </div>
                                    <div class="form-group">
                                        <label>Sous-total</label>
                                        <span>:
                                                <b>{{ item.materiel is not null ? (item.quantity * item.materiel.prixUnitaire) | number_format(0,'',' ') : item.quantity}}</b>
                                                Fmg</span>
                                    </div>
                                    <div class="form-group">
                                        <label>Avance</label>
                                        <input type="number" class="avance form-control" name="avance" min="0"
                                               id="avance-achat">
                                    </div>
                                    <div class="form-group d-none">
                                        <label>Date d'écheance</label>
                                        <input type="text" class="date-echeance-cart form-control" name="date-echeance">
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="d-flex justify-content-start">
                        <button type="button" name="save" id="save" class="btn btn-success m-2 px-3 btn-rounded">
                            Valider
                        </button>
                    </div>
                </div>
                </div>
            {% endif %}
        {% else %}
            <div class="d-flex justify-content-center bg-info p-4 mt-4">
                <h2 class="mt-4 text-white">
                    <b>Aucun achat<b>
                </h2>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var url = "{{ path('cart_valid_purchase') }}";
        var url_remove_purchase = "{{ path('remove_all_purchase') }}";
        var url_list_achat = "{{ path('achat_index') }}";
    </script>
    <script src="{{ asset("js/cart.js") }}"></script>
{% endblock %}
