{% extends 'base.html.twig' %}

{% block title %}Connexion {{ parent() }}{% endblock %}

{% block body %}
    <div class="container-fluid login">
		<div class="row">
            <div class="col-md-5 my-5">
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            <h1 class="h3 mb-3 font-weight-normal text-center">Authentification</h1>
                            {% if error %}
                                <div class="alert bg-danger text-white">
                                    Votre email ou votre mot de passe est incorrecte
                                </div>
                            {% endif %}
                            <label for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                            <label for="inputPassword">Mot de passe</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" required>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <div class="d-flex justify-content-center mt-3">
                                <button type="submit" class="btn btn-primary btn-rounded mx-2">Se connecter</button>
                            </div>
                            Vous n'avez pas encore de compte,veuillez
                            <a href="{{ path("app_register") }}">s'inscrire</a>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-7 margin-25 text-black text-bolder">
				<div class="info">
					<h2>DAGOTRUCK</h2>
					<p>Dagotruck@gmail.com</p>
					<p>034 02 143 61/034 20 747 91</p>
					<p>Vente piece &  occasions et neuves</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
