{% extends 'base.html.twig' %}

{% block title %} Inscription {{ parent() }} {% endblock %}

{% block body %}
	<div class="container-fluid login">
		<div class="row">
			<div class="col-md-5 my-5">
				<div class="card shadow">
					<div class="card-body">
						{{ form_start(registrationForm) }}
						{{ form_row(registrationForm.email) }}
						{{ form_row(registrationForm.plainPassword, {
												label: 'Mot de passe'
											}) }}
						<div class="d-flex justify-content-center">
							<button type="submit" class="btn btn-primary btn-rounded mx-2">S'inscrire</button>
						</div>
						Vous avez déjà un compte,vous pouvez
						<a href="{{ path("app_login") }}">se connecter</a>
						{{ form_end(registrationForm) }}
					</div>
				</div>
			</div>

            <div class="col-md-7 margin-25 text-black text-bolder">
				<div class="info">
					<h2>DAGOTRUCK</h2>
					<p>Dagotruck@gmail.com</p>
					<p>034 02 143 61/034 20 747 91</p>
					<p>Vente piece &  occasions et neuves</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
