{% if is_granted("ROLE_RESPONSABLE") %}
	<a href="{{ path_edit }}" class="btn btn-sm btn-info px-4 btn_rounded">Editer</a>
	<form method="post" action="{{ path_delete }}" class="d-inline-block" onsubmit="return confirm('Vous voulez vraiment supprimer');">
		<input type="hidden" name="_method" value="DELETE">
		<button class="btn btn-sm btn-danger px-4 btn_rounded" role="button">Supprimer</button>
	</form>
{% endif %}
