<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-default class-nav">
		<a class="navbar-brand" href="#">DAGOTRUCK</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav class-navbar mr-auto mt-lg-0">
				<li class="nav-item class-item">
					<a class="nav-link class-link" href="{{ path("type_materiel_index") }}">Type de matériel</a>
				</li>
				<li class="nav-item class-item">
					<a class="nav-link class-link" href="{{ path("materiel_index") }}">Materiel</a>
				</li>
				<li class="nav-item class-item">
					<a class="nav-link class-link" href="{{ path("departement_index") }}">Département</a>
				</li>
				<li class="nav-item class-item">
					<a class="nav-link class-link" href="{{ path('detail_materiel_index') }}">Detail Matériel</a>
				</li>
				<li class="nav-item class-item">
					<a class="nav-link class-link" href="{{ path('cart_index') }}">Panier</a>
				</li>
				
				{% if is_granted("ROLE_RESPONSABLE") %}
					<li class="nav-item class-item">
						<a class="nav-link class-link" href="{{ path('achat_index') }}">Achat</a>
					</li>
					<li class="nav-item class-item">
						<a class="nav-link class-link" href="{{ path('abonne_index') }}">Abonné</a>
					</li>
					<li class="nav-item class-item">
						<a class="nav-link class-link" href="{{ path('sortie_index') }}">Sortie</a>
					</li>
				{% endif %}

				{% if is_granted("ROLE_ADMIN") %}
					<li class="nav-item class-item">
						<a class="nav-link class-link" href="{{ path('admin_user_index') }}">Utilisateur</a>
					</li>
				{% endif %}
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<a class="btn btn-logout px-4 btn_rounded" href="{{ path('app_logout') }}">Déconnexion</a>
			</form>
		</div>
	</nav>
</header>
