<h3 class="text-center">Liste des {{ entity_title }}</h3>

{% if is_granted("ROLE_RESPONSABLE") %}
	<a href="{{ path_new }}" class="btn btn-sm btn-primary mb-2 px-4 btn_rounded">Nouveau {{ new_title }}</a>
{% endif %}
