{% for label, messages in app.flashes %}
    <div class="row notification">
        <div class="col-sm-4"></div>
        <div class="col-sm-8">
            <div class="alert bg-{{ label }} alert-dismissible text-white">
                {% for message in messages %}
                    <i class="fas fa-{% if label == "success" %}check{% else %}times{% endif %}"></i> {{ message }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}