<div class="form-group d-flex justify-content-center my-3">
    <div class="w-50 bg-dark d-flex align-items-center">
        <span class="py-2 px-3 text-white"><i class='fas fa-search'></i></span>
        <input type="search" class="form-control research-datatable" 
            placeholder = "Rechercher">
    </div>
</div>
