{% block _detail_materiels %}
    {% for detail_materiel in detail_materiels %}
        {% set qty_material_detail = detail_materiel.qte %}
        <tr class="table-filter {{ detail_materiel.materiel.typeMateriel.descriptionType }}">
            <td>{{ detail_materiel.reference }}</td>
            <td>{{ detail_materiel.nomMateriel }}</td>
            <td class="text-center">{{ detail_materiel.categorie }}</td>
            <td class="text-center">
                {% for achat in detail_materiel.achats %}
                    {% if qty_material_detail >= achat.qteAchete %}
                        {% set qty_material_detail = qty_material_detail - achat.qteAchete %}
                    {% endif %}
                {% endfor %}
                {{ qty_material_detail }}
            </td>
            <td>{{ detail_materiel.prixUnitaire }} FMG</td>
            <td class="text-center">
                {{ detail_materiel.dateApprovisionnement ? detail_materiel.dateApprovisionnement|date('d-m-Y') : '' }}
            </td>
            <td>
                {{ detail_materiel.departement is not null ? detail_materiel.departement.nomDepartement : "" }}
            </td>
            <td class="w-325">
                {% if qty_material_detail != 0 %}
                    <a data-url="{{ path('cart_add',{'id': detail_materiel.id}) }}"
                       href="{{ path('cart_add',{'id': detail_materiel.id}) }}"
                       class="btn btn-sm btn-rounded btn-success btn-add-cart text-white">
                        Acheter
                    </a>
                {% endif %}
                {% include "partials/action.html.twig" with {
                    path_edit: path('detail_materiel_edit', {'id': detail_materiel.id}),
                    path_delete: path('detail_materiel_delete', {'id': detail_materiel.id})
                } %}
            </td>
        </tr>
    {% else %}
        <tr align="center">
            <td colspan="7">Aucun détail de matériel</td>
        </tr>
    {% endfor %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset("libs/jquery/jquery-3.1.0.min.js") }}"></script>
    <script>
        let path_material_detail = "{{ path('detail_materiel_index') }}";
    </script>
    <script src="{{ asset("js/detail-materiel.js") }}"></script>
{% endblock %}
