{% extends 'base.html.twig' %}

{% block title %}Modification de détail de matériel{% endblock %}

{% block body %}
    {% include "detail_materiel/form.html.twig" with {
        action_title: "Modification",
        entity_title: "détail de matériel",
        btn_background: "success",
        button_label: "Enregistrer",
        path_list: path('detail_materiel_index')
    } %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("js/detail-materiel.js") }}"></script>
{% endblock %}



