<div class="container">
	<h4 class="text-center mt-2">{{ action_title }} d'un {{ entity_title }}</h4>
	{% include "partials/notification.html.twig" %}
	<div class="row">
		<div class="col-sm-4">
			{{ form_start(form,{"attr":{"novalidate":true}}) }}
                {{ form_widget(form) }}
                <div class="mb-3">
                    <button class="btn btn-sm btn-{{ btn_background }} px-4 btn_rounded">{{ button_label }}</button>
                    <a href="{{ path_list }}" class="btn btn-sm btn-warning px-4 btn_rounded">Retourner</a>
                </div>
			{{ form_end(form) }}
		</div>
	</div>
</div>
