{% extends 'base.html.twig' %}

{% block title %}Détail de matériels {{ parent() }}{% endblock %}
{% block body %}
    <section class="container-fluid my-3">
		<h3 class="text-center">Liste des détails de matériels</h3>
		<div class="dago-truck-filter">
{% for detail_materiel in detail_materiels %}
	
	<button type="button" class="dago-clik" data-slug="{{ detail_materiel.materiel.typeMateriel.descriptionType }}">
		{{ detail_materiel.materiel.typeMateriel.descriptionType }}
	</button>

{% endfor %}
			

		</div>
		<div class="d-flex justify-content-between">
			<div>
				{% if is_granted("ROLE_RESPONSABLE") %}
					<a href="{{ path('detail_materiel_new') }}" class="btn btn-sm btn-primary mb-2 px-4 btn_rounded">
						Nouveau détail de matériel
					</a>
				{% endif %}
			</div>
			<div class="w-25">
				<div class="d-flex align-items-center mb-1">
					<span class="mr-2">Rechercher</span>
					<input type="search" class="search-detail-materiel form-control">
				</div>
			</div>
		</div>
     
		{% include "partials/notification.html.twig" %}

		<div class="notify-add-cart"></div>
		<table class="table table-responive" id="table-detail-materiel">
			<thead>
				<tr>
					<th>Reference</th>
					<th>Nom du matériel</th>
					<th>Catégorie</th>
                    <th>Quantité</th>
                    <th>Prix unitaire</th>
                    <th>Date d'approvisionnement</th>
                    <th>Département</th>
                    {% include "partials/thead.action.html.twig" %}
				</tr>
			</thead>
			<tbody class="table-body-detail-materiel">
				{% include "detail_materiel/_detail_materiels.html.twig" with {detail_materiels : detail_materiels} %}
			</tbody>
		</table>
		{% if total_detail_materiel > 0 %}
			<nav aria-label="Page navigation">
				<ul class="pagination d-flex align-items-center justify-content-end">
					<li class="page-item {{ (page == 1) ? 'disabled' : '' }}">
					<a class="btn btn-sm btn-primary px-4 btn_rounded page-link-prev"
					   href="{{ (page > 1) ? '?page=' ~ (page - 1) : '' }}" aria-label="Previous">
						Précédent
					</a>
					</li>
					{% set pages = (total_detail_materiel / limit)|round(0,'ceil') %}
					{% for item in 1..pages %}
						<li class="page-item {{ page == item ? 'active' : '' }}">
							<a class="page-link {{ page == item ? 'page-link-active' : '' }}"
							   href="?page={{ item }}">{{ item }}
							</a>
						</li>
					{% endfor %}
					<li class="page-item {{ page == pages ? 'disabled' : '' }}">
					<a class="btn btn-sm btn-primary px-4 btn_rounded page-link-next"
					   href="{{ (page < pages) ? '?page=' ~ (page + 1) : ''  }}" aria-label="Next">
						Suivant
					</a>
					</li>
				</ul>
			</nav>
		{% endif %}
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
	<script>
		let path_material_detail = "{{ path('detail_materiel_index') }}";
	</script>
    <script src="{{ asset("js/detail-materiel.js") }}"></script>
{% endblock %}

