.dago-truck-filter{
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    margin-bottom: 15px;
    .dago-clik{
        background-color: dimgrey;
        color: white;
        min-width: 150px;
        height: 40px;
        border-radius: 15px;
        text-transform: uppercase;
        border: 0;
        margin-bottom: 5px;
        margin-left: 5px;
        &:focus{
            outline: none;
        }
        &:hover{
            background-color: cadetblue;
        }
    }
}
/* width */
::-webkit-scrollbar {
  width: 20px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(48, 48, 48); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #111111; 
}
table{

}
.w-325{
    width: 325px;
    display: flex;
    a{
        margin-right: 5px;
    }
}