@import url(../libs/bootstrap/css/bootstrap.min.css);
@import url(../libs/dataTable/css/datatables.min.css);
@import url(../libs/select2/css/select2.min.css);
@import url(../libs/animate/animate.min.css);
.class-nav {
  background-color: #000267;
}
.class-nav .class-navbar .class-item .class-link {
  color: white !important;
  padding-left: 15px;
  padding-right: 15px;
}
.class-nav .class-navbar .class-item .class-link:hover {
  color: #f6974f !important;
  border-bottom: 2px solid #f6974f;
}
.class-nav .btn-logout {
  background-color: #f6974f;
  color: white;
}
.btn-rounded {
  border-radius: 100px !important;
  padding: 1% 7% !important;
}
.login {
  background: url("../img/cover.jpg") no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 600px;
}
.card{
  box-shadow: 3px 4px 3px 1px;
}
.info{
  margin-left: 20%;
  color: white;
  margin-top: -10%;
  box-shadow: 1px 1px 6px 1px;
}
.margin-25 {
  margin-top: 25%;
}

.width-30{
  width: 30%;
}
.text-orange {
  color: #f6974f;
}
.text-black {
  color: #000;
}
.text-bolder {
  font-weight: bolder;
}
thead{
  background: rgb(41, 41, 41);
  color: #fff;
}
table{
  overflow-x: scroll;
}
.form-control{
  box-shadow: none;
  border-radius: 0;
}
.form-control:focus,.form-control.is-invalid:focus{
  box-shadow: none;
}
.btn:active,.btn:focus{
  box-shadow: none;
}
.btn_rounded{
  border-radius: 15px; 
}
.dataTables_wrapper .dataTables_paginate .paginate_button,.page-link-active{
  border-radius: 40px;
  margin: 5px 3px;
  color: #007bff !important;
  background-color: #fff;
  border-color: #007bff !important;
}
.page-link-active{
  color: #fff !important;
  background: #007bff !important;
  border-color: transparent !important;
  box-shadow: none;
  border-radius: 40px;
  margin: 5px 3px;
}
.page-link:not(.page-link-active){
  border-radius: 40px;
  margin: 5px 3px;
  color: #007bff !important;
  background-color: #fff;
  border-color: #007bff !important;
}

.page-link-prev,.page-link-next
{
  color: #fff !important;
  background: #007bff !important;
  border-color: transparent !important;
  box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.previous:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.next:hover
{
  color: #fff !important;
  background: #007bff !important;
  border-color: transparent !important;
  box-shadow: none;
}

.pagination span.current
{
  border-radius: 50%;
  color: #fff !important;
  background-color: #007bff;
  border-color: #007bff !important;
  padding: 5% 30%;
}

.pagination span.page
{
  background-color: #fff !important;
  border: 1px solid #000 !important;
  border-radius: 50%;
  padding: 5% 30%;
}

.pagination span.page a
{
  color: #000 !important;
  text-decoration: none !important;
}

.pagination span.previous,.pagination span.next
{
  background-color: #fff !important;
  border: 1px solid #007bff !important;
  border-radius: 50%;
  padding: 5% 30%;
}

.pagination span.first,.pagination span.last
{
  display: none;
}

.pagination span.previous:hover a,.pagination span.next:hover a{
  text-decoration: none;
}

.dataTables_filter input[type=search],.search-detail-materiel{
  border-color: transparent !important;
  border-bottom-color: rgb(146, 143, 143) !important;
  outline-width: 0;
}


