{% extends 'base.html.twig' %}

{% block title %}Matériel {{ parent() }}{% endblock %}
{% block body %}
     <section class="container-fluid my-3">
     
        {% include "partials/new.with.access.html.twig" with {
            entity_title: "matériels",
			new_title: "matériel",
            path_new: path('materiel_new')
        } %}

		{% include "partials/notification.html.twig" %}

		<table class="table" id="table">
			<thead>
				<tr>
					<th>Nom du fournisseur</th>
					<th>Nom/Marque</th>
                    <th>Type de matériel</th>
                    {% include "partials/thead.action.html.twig" %}
				</tr>
			</thead>
			<tbody>
				{% for materiel in materiels %}
					<tr>
                        <td>{{ materiel.nomFournisseur }}</td>
						<td>{{ materiel.nomMarque }}</td>
						<td>
							{{ materiel.typeMateriel ? materiel.typeMateriel.descriptionType : "" }}
						</td>
						<td>
							{% include "partials/action.html.twig" with {
								path_edit: path('materiel_edit', {'id': materiel.id}),
								path_delete: path('materiel_delete', {'id': materiel.id})
							} %}
						</td>
					</tr>
				{% else %}
					<tr align="center">
						<td colspan="3">Aucun matériel</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
    </section>
{% endblock %}
