{% extends 'base.html.twig' %}

{% block title %}Modification de département{% endblock %}

{% block body %}
    {% include "type_materiel/form.html.twig" with {
        action_title: "Modification",
        entity_title: "département",
        btn_background: "success",
        button_label: "Modifier",
        path_list: path('departement_index')
    } %}
{% endblock %}



