{% extends 'base.html.twig' %}

{% block title %}Modification du sorti{% endblock %}

{% block body %}
    {% include "type_materiel/form.html.twig" with {
        action_title: "Modification",
        entity_title: "sortie",
        btn_background: "success",
        button_label: "Modifier",
        path_list: path('sortie_index')
    } %}
{% endblock %}



