{% extends 'base.html.twig' %}

{% block title %}Sortie {{ parent() }}{% endblock %}

{% block body %}
     <section class="container my-3">
     
        {% include "partials/new.with.access.html.twig" with {
            entity_title: "sorties",
			new_title: "sortie",
            path_new: path('sortie_new')
        } %}

		{% include "partials/notification.html.twig" %}

		<table class="table" id="table">
			<thead>
				<tr>
                    <td>Numero</td>
                    <td>Date de sortie</td>
                    <td>Montant</td>
                    <td>Motif</td>
                    {% include "partials/thead.action.html.twig" %}
				</tr>
			</thead>
			<tbody>
				{% for sortie in sorties %}
					<tr>
                        <td>{{ sortie.coup }}</td>
                        <td>{{ sortie.dateSortie ? sortie.dateSortie|date('d-m-Y') : '' }}</td>
                        <td>{{ sortie.coupSortie }}</td>
                        <td>{{ sortie.cause }}</td>
						<td>
							{% include "partials/action.html.twig" with {
								path_edit: path('sortie_edit', {'id': sortie.id}),
								path_delete: path('sortie_delete', {'id': sortie.id})
							} %}
						</td>
					</tr>
				{% else %}
					<tr align="center">
						<td colspan="3">Aucune sortie</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
    </section>
{% endblock %}

