{% extends 'base.html.twig' %}

{% block title %}Nouveau type de matériel{% endblock %}

{% block body %}
    {% include "type_materiel/form.html.twig" with {
        action_title: "Enregistrement",
        entity_title: "sortie",
        btn_background: "primary",
        button_label: "Enregistrer",
        path_list: path('sortie_index')
    } %}
{% endblock %}



