{% extends 'base.html.twig' %}

{% block title %} Liste des abonnés {{ parent() }} {% endblock %}
	
{% block body %}
	<section class="container my-5">
        <h3 class="text-center">Liste des abonnés</h3>
		{% include "partials/notification.html.twig" %}
		<div class="notification-add-abonne"></div>
		<table class="table" id="table">
			<thead>
				<tr>
					<th>Code facture</th>
					<th>Nom l'acheteur</th>
					{% include "partials/thead.action.html.twig" %}
				</tr>
			</thead>
			<tbody>
				{% for abonne in abonnes %}
					<tr>
						<td>FAC{{ abonne.code_facture | upper }}</td>
						<td>{{ abonne.nom_acheteur }}</td>
						<td>
							{% if is_granted("ROLE_RESPONSABLE") %}
								<a class="btn btn-sm btn-primary px-4 btn_rounded" href="{{ path('abonne_new', {'code_facture': abonne.code_facture}) }}">
									Nouvel abonnement
								</a>
								<a class="btn btn-sm btn-secondary px-4 btn_rounded" href="{{ path('abonne_show', {'code_facture': abonne.code_facture}) }}">
									Voir
								</a>
								<form method="post" action="{{ path('abonne_delete', {'code_facture': abonne.code_facture}) }}" class="d-inline-block" onsubmit="return confirm('Vous voulez vraiment supprimer');">
									<input type="hidden" name="_method" value="DELETE">
									<button class="btn btn-sm btn-danger px-4 btn_rounded" role="button">Supprimer</button>
								</form>
							{% endif %}
						</td>
					</tr>
				{% else %}
					<tr align="center">
						<td colspan="11">Aucun liste d'abonné</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>
{% endblock %}
