{% extends 'base.html.twig' %}
{% block title %}Nouvel abonnement{% endblock %}
{% block body %}
    <div class="container">
        <h4 class="text-center mt-2">Enregistrement d'un nouvel abonnement</h4>
            <div class="col-sm-4 notify-add-abonne">
                {{ form_start(form) }}
                    {{ form_row(form.dateEcheance) }}
                    <hr class="bg-success" />
                    <div class="form-abonne">
                        <div class="form-abonne-item" data-key="0">
                            <div class="form-group d-none">
                                <label for="abonne_nomAcheteur" class="required">Nom de l'abonné</label>
                                <input type="text" id="abonne_nomAcheteur" name="abonne[nomAcheteur]" 
                                       required="required" class="form-control nom-acheteur" value= {{ detail_abonnes[0].nomAcheteur }}>
                            </div>
                            <div class="form-group d-none">
                                <label for="abonne_codeFacture" class="required">Code facture</label>
                                <input type="text" id="abonne_codeFacture" name="abonne[codeFacture]" 
                                       required="required" class="form-control code-facture" value= {{ detail_abonnes[0].codeFacture }}>
                            </div>
                            <div class="form-group d-none">
                                <label for="abonne_dateEcheance" class="required">Date echeance</label>
                                <input type="text" id="abonne_dateEcheance" name="abonne[dateEcheance]" required="required" class="form-control date-echeance">
                            </div>
                            {{ form_row(form.qteAchete) }}
                            <span class='error-quantity' style='color:red;'>La quantité est au minimum 0</span>
                            {{ form_row(form.avance) }}
                            <span class='error-avance' style='color:red;'>L'avance est au minimum 0</span>
                            {{ form_row(form.detailMateriel) }}
                            <button class="btn btn-sm btn-danger px-4 btn_rounded btn-remove-abonne mb-2 d-none" type="button">Supprimer cet abonnement</button>
                            <hr class="bg-success" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-sm btn-success px-4 btn_rounded btn-save-more-abonne mb-2" data-key="0" type="button">Plus d'abonnement</button>
                        <div>
                            <button class="btn btn-sm btn-primary btn-save-abonne px-4 btn_rounded ">Enregistrer</button>
                            <a href="{{ path('abonne_index') }}" class="btn btn-sm btn-warning px-4 btn_rounded">Retourner</a>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var url_add_abonne = "{{ path('abonnes_new') }}";
        var absolute_url_abonne = "{{ url('abonne_index') }}";
    </script>
    <script src="{{ asset('js/abonne.js') }}"></script>
{% endblock %}



