{% extends 'base.html.twig' %}

{% block title %}
	Détail de l'abonnement {{ parent() }}
{% endblock %}

{% block body %}
	<section class="container my-5">
		<h3 class="text-center mb-5">Détail de l'abonnement</h3>
		<div class="d-block">
			<b>Code du facture :</b>
			FAC{{ detail_abonnes[0].codeFacture | upper }}<br><br>
			<b>Nom de l'acheteur :</b>
			{{ detail_abonnes[0].nomAcheteur }}
		</div>
        <div class="container">
            <div class="row">
		    {% for detail_abonne in detail_abonnes %}
                <div class="col-sm-4">
                    <div class="card shadow mt-5">
                            <div class="card-header bg-info text-center text-white">
                                {% for detailMateriel in detail_abonne.detailMateriel %}
                                    {{ detailMateriel.nomMateriel }}
                                {% endfor %}
                            </div>
                            <div class="card-body">
                                {% set qteAchete = detail_abonne.qteAchete %}
                                <div>
                                    <div class="py-2">
                                        <b>Quantité acheté :</b>
                                        {{ qteAchete }}
                                    </div>
                                    <div class="py-2">
                                        <b>Prix unitaire :</b>
                                        {% for detailMateriel in detail_abonne.detailMateriel %}
                                            {{ detailMateriel.prixUnitaire | number_format(0,'',' ') }}
                                            Fmg
                                        {% endfor %}
                                    </div>
                                    <div class="py-2">
                                        <b>Sous-total :</b>
                                        {% set subTotal = 0 %}
                                        {% for detailMateriel in detail_abonne.detailMateriel %}
                                            {% set subTotal = subTotal + (detailMateriel.prixUnitaire * qteAchete) %}
                                            {{ subTotal | number_format(0,'',' ') }}
                                            Fmg
                                        {% endfor %}
                                    </div>
                                    <div class="py-2">
                                        {% set avance = detail_abonne.avance %}
                                        <b>Avance :</b>
                                        {{ avance | number_format(0,'',' ') }}
                                        Fmg
                                    </div>
                                    <div class="py-2">
                                        <b>Reste :</b>
                                        {{ (subTotal - avance) | number_format(0,'',' ') }}
                                        Fmg
                                    </div>
                                    <div class="py-2">
                                        <b>Date d'echeance :</b>
                                        {{ detail_abonne.dateEcheance | date("d/m/Y")}}
                                    </div>
                                    <div class="py-2">
                                        <b>Département :</b>
                                        {% for detailMateriel in detail_abonne.detailMateriel %}
                                            {{ detailMateriel.departement.nomDepartement }}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
		    {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
