{% extends 'base.html.twig' %}

{% block title %}Modification de type de matériel{% endblock %}

{% block body %}
     {% include "type_materiel/form.html.twig" with {
        action_title: "Modification",
        entity_title: "type de matériel",
        btn_background: "success",
        button_label: "Modifier",
        path_list: path('type_materiel_index')
    } %}
{% endblock %}



