<div class="container">
	<h4 class="text-center mt-2">{{ action_title }} d'un {{ entity_title }}</h4>
    <div class="row">
        <div class="col-sm-4">
            {{ form_start(form,{"attr":{"novalidate":"true"}}) }}
                {{ form_widget(form) }}
                <button class="btn btn-{{ btn_background }} btn-sm px-4 btn_rounded">{{ button_label }}</button>
                <a href="{{ path_list }}" class="btn btn-warning btn-sm px-4 btn_rounded">Retourner</a>
            {{ form_end(form) }}
        </div>
    </div>
</div>
