{% extends 'base.html.twig' %}

{% block title %} Type de matériel {{ parent() }}{% endblock %}
{% block body %}
     <section class="container-fluid my-3">
     
        {% include "partials/new.with.access.html.twig" with {
            entity_title: "types de matériels",
			new_title: "type de matériel",
            path_new: path('type_materiel_new')
        } %}

		{% include "partials/notification.html.twig" %}

		<table class="table" id="table">
			<thead>
				<tr>
					<th>Description</th>
                    {% include "partials/thead.action.html.twig" %}
				</tr>
			</thead>
			<tbody>
				{% for type_materiel in type_materiels %}
					<tr>
						<td>
							<a href="{{ path('type_materiel_show',{'marque_id': type_materiel.id}) }}" style="color:#000;text-decoration:none;">
								{{ type_materiel.descriptionType }}
							</a>
						</td>
						<td>
							{% include "partials/action.html.twig" with {
								path_edit: path('type_materiel_edit', {'id': type_materiel.id}),
								path_delete: path('type_materiel_delete', {'id': type_materiel.id})
							} %}
						</td>
					</tr>
				{% else %}
					<tr align="center">
						<td colspan="2">Aucun type matériel</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
    </section>
{% endblock %}
