{% extends 'base.html.twig' %}
{% block title %} Les matériels par type {{ parent() }}{% endblock %}
{% block body %}
	<div class="container">
		{% if marques | length > 0 %}
		    <h3 class="text-center mt-3">Liste des matériels par type </h3>
			<div class="row mb-3">
				{% for marque in marques %}
					{% if marque.nom_materiel is not null %}
						<div class="col-sm-4">
							<div class="card shadow">
								<h5 class="card-header bg-info text-white text-center">
									{{ marque.nom_materiel }}</h5>
								<div class="card-body">
									<p>Nom/Marque : {{ marque.nom_marque }}</p> 
									<p>Type : {{ marque.description_type }}</p> 
									<p>Catégorie : {{ marque.categorie }}</p> 
									<p>Département : {{ marque.nom_departement }}</p> 
									<p>Quantité : {{ marque.qte }}</p> 
									<p>Prix unitaire : {{ marque.prix_unitaire | number_format(0,'',' ') }} FMG</p>
								</div>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		{% else %}
			<div>
				<h4 class="text-center text-white bg-info mt-3 p-5">Aucun matériel ne correspond à ce type</h4>
			</div>
		{% endif %}
	</div>
{% endblock %}
