<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} - Dagotruck{% endblock %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" href="{{ asset("img/truck.png") }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset("css/app.css") }}">
            <link rel="stylesheet" href="{{ asset("css/dagotruck.css") }}">

        {% endblock %}
    </head>
    <body>
        {% if app.user %}
            {% include "partials/header.html.twig" %}
        {% endif %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset("libs/jquery/jquery-3.1.0.min.js") }}"></script>
            <script src="{{ asset("libs/bootstrap/js/bootstrap.min.js") }}"></script>
            <script src="{{ asset("libs/dataTable/js/datatables.min.js") }}"></script>
            <script src="{{ asset("libs/font-awesome/js/all.min.js") }}"></script>
            <script src="{{ asset("libs/select2/js/select2.min.js") }}"></script>
            <script src="{{ asset("libs/moment/moment.min.js") }}"></script>
            <script src="{{ asset("libs/bootstrap-validate/bootstrap-validate.min.js") }}"></script>
            <script src="{{ asset("js/app.js") }}"></script>
        {% endblock %}
    </body>
</html>
