{% extends 'base.html.twig' %}

{% block title %}Modification de l'achat{% endblock %}

{% block body %}
    {% include "type_materiel/form.html.twig" with {
        action_title: "Modification",
        entity_title: "achat",
        btn_background: "success",
        button_label: "Modifier",
        path_list: path('achat_index')
    } %}
{% endblock %}



