{% extends 'base.html.twig' %}

{% block title %}Liste des achats {{ parent() }}{% endblock %}
{% block body %}
    {% if achats | length > 1 %}
        <div class="d-flex justify-content-center align-items-center mt-4">
            <div class="mr-5">
            <h4 class="mb-3"><b>Trier l'achat</b></h4>
            </div>
        </div>
        <form id="form-sorting-purchase" class="form-inline d-flex justify-content-center" data-url="" method="POST">
            <div class="form-group mb-2 mr-2">
            <select class="form-control tri-achat">
                <option>Veuillez selectionner</option>
                <option value="Achat journalière">Achat journalière</option>
                <option value="Achat mensuel">Achat mensuel</option>
                <option value="Achat annuel">Achat annuel</option>
            </select>
            </div>
            <div class="form-group mb-2 mr-2">
                <input type="date" class="form-control achat-journalier" name="achat_journalier">
            </div>
            <div class="form-group mb-2 mr-2">
                <input type="date" class="form-control achat-mensuel" name="achat_mensuel">
            </div>
            <div class="form-group mb-2 mr-2">
                <select class="form-control achat-annuel" name="achat_annuel">
                    <option value="0">Selectionner l'année</option>
                        {% for year in years %}
                            <option value="{{ year }}">{{ year }}</option> 
                        {% endfor %}
                </select>
            </div>
            <div class="form-group mb-2 block-btn-tri-achat">
                <button type="submit" class="btn btn-primary rounded-0 px-5 tri-achat-journalier btn-tri-achat">Trier</button>
                <a href="{{ path("achat_index") }}" class="btn btn-info btn-actualiser-tri rounded-0 ml-2 px-5">Actualiser</a>
            </div>
        </form>
    {% endif %}
    <h3 class="text-center mt-3">Liste des achats</h3>
     <section class="container-fluid my-2">
        {% include "partials/notification.html.twig" %}
		<table class="table" id="table">
			<thead>
				<tr>
					<th>Nom l'acheteur</th>
					<th>Détail du matériel</th>
                    <th>Type de paiement</th>
                    <th>Département</th>
                    <th>Date d'achat</th>
                    <th>Quantité acheté</th>
                    <th>Prix unitaire</th>
                    <th>Somme</th>
                    <th>Avance</th>
                    <th>Reste</th>
                    <th>Date d'echéance</th>
                    {% include "partials/thead.action.html.twig" %}
				</tr>
			</thead>
			<tbody>
				{% for achat in achats %}
                    {% set qteAchete = achat.qteAchete %}
					<tr>
                        <td>{{ achat.nomAcheteur }}</td>
                        <td class="text-center">
                            {% for item in achat.detailMateriel %}
                                {{ item.nomMateriel }}
                            {% endfor %}
                        </td>
                        <td class="text-center">{{ achat.typePaiement }}</td>
                        <td>
                            {% for item in achat.detailMateriel %}
                                {{ item.departement ? item.departement.nomDepartement : "" }}
                            {% endfor %}
                        </td>
                        <td>{{ achat.dateAchat ? achat.dateAchat|date('d-m-Y') : '' }} à {{ achat.tempsAchat ? achat.tempsAchat|date('H:i') : '' }}</td>
                        <td class="text-center">{{ qteAchete }}</td>
                         <td class="text-center">
                            {% for item in achat.detailMateriel %}
                                {{ item.prixUnitaire }} FMG
                            {% endfor %}
                        </td>
                        <td class="text-center">
                            {% set somme = 0 %}
                            {% for item in achat.detailMateriel %}
                                {% set somme = somme + item.prixUnitaire * qteAchete %}
                                {{ somme }} FMG
                            {% endfor %}
                        </td>
                        <td class="text-center">{{ achat.avance ? achat.avance ~ 'FMG' : '' }}</td>
                        <td class="text-center">
                            {% if achat.avance %}
                                {{ (somme - achat.avance ) }} FMG
                            {% endif %}
                        </td>
                        <td>{{ achat.dateEcheance ? achat.dateEcheance|date('d-m-Y') : '' }}</td>
                        <td>
                            {% if achat.codeFacture is defined %}
                                <a class="btn btn-sm btn-success px-4 btn_rounded" href="{{ path('achat_invoice', {'code': achat.codeFacture}) }}">Facture</a>
                            {% endif %}
							{% include "partials/action.html.twig" with {
								path_edit: path('achat_edit', {'id': achat.id}),
								path_delete: path('achat_delete', {'id': achat.id})
							} %}
						</td>
					</tr>
				{% else %}
					<tr align="center">
						<td colspan="12">Aucun liste d'achat</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var PATH_SORTING_PURCHASE_IN_DAY = "{{ path('tri_achat_journalier') }}";
        var PATH_SORTING_PURCHASE_IN_MONTH = "{{ path('tri_achat_mensuel') }}";
        var PATH_SORTING_PURCHASE_IN_YEAR = "{{ path('tri_achat_annuel') }}";
    </script>
    <script src="{{ asset("js/achat.js") }}"></script>
{% endblock %}

