<!DOCTYPE html>
<html lang="en">
<head>
    <title>Facture</title>
    <style>
        body{
            font-family: sans-serif;
        }

        .facturation{
            width: 350px;
            max-width: 350px;
            height: 100vh;
            font-size:14px;
        }

        .text-center{
            text-align: center;
        }

        .d-flex-justify-content-between{
            display:flex;
            justify-content: space-between; 
            width: 70%;
            margin-bottom: 3%;
        }

        .mb-3{
            margin-bottom : 3%;
        }

        .text-black{
            color: #000;
        }

        table{
            border-collapse: collapse;
            width: 100%;
        }

        table,td,th{
            border: 1px solid #000;
            text-align: center;
            padding: 2px 8px;
        }

        .fs-16{
            font-size: 16px !important;
        }
    </style>
</head>
<body>
    <div class="facturation">
        <h4 class="text-center">DAGOTRUCK</h4>
        <p style="font-size:14px;">Dagotruck@gmail.com <br>034 02 143 61/034 20 747 91</p>
        <h3 style="font-size:14px;">Vente de pièces détachées<br>
            <span class="text-center">neuves et occasions</span>
        </h3>
        <div class="mb-2">
            {% if codeFacture is defined %}
                <div class="d-flex-justify-content-between">
                    <span><b>Code :</b></span>
                    <span>FAC{{ codeFacture | upper }} </span>
                </div>
            {% endif %}

            {% if nomAcheteur is defined %}
                <div class="d-flex-justify-content-between">
                    <span><b>Acheteur :</b></span>
                    <span>{{ nomAcheteur }} </span>
                </div>
            {% endif %}

            {% if typePaiement is defined %}
                <div class="d-flex-justify-content-between">
                    <span><b>Payé par :</b></span>
                    <span>{{ typePaiement }} </span>
                </div>
            {% endif %}

            {% if dateAchat is defined and tempsAchat is defined %}
                <div class="d-flex-justify-content-between">
                    <span><b>Date :</b></span>
                    <span>
                        {{ dateAchat |date('d-m-Y') }} à {{ tempsAchat | date("H:i")}}
                    </span>
                </div>
            {% endif %}

            {% if sum_avance > 0 %}
                    <div class="d-flex-justify-content-between">
                        <span>
                            <b>Avance :</b>
                        </span>
                        <span>
                            {% set somme_avance = 0 %}
                            {% for facture in factures %}
                                {% set somme_avance = somme_avance + facture.avance %}
                            {% endfor %}
                            {{ somme_avance|number_format(0,'',' ') }} FMG
                        </span>
                    </div>
                    <div class="d-flex-justify-content-between" style="display:none;">
                        <span><b>Total :</b></span>
                        <span>
                            {% set somme = 0 %}
                            {% for facture in factures %}
                                {% set qte = facture.qteAchete %}
                                {% for detail in facture.detailMateriel %}
                                    {% set somme = somme + (detail.prixUnitaire * qte) %} 
                                {% endfor %}
                            {% endfor %}
                            {{ somme|number_format(0,'',' ') }} FMG
                        </span>
                    </div>
                    <div class="d-flex-justify-content-between" style="margin-bottom:7%;">
                        <span>
                            <b>Reste :</b>
                        </span>
                        <span>
                        {{ (somme - somme_avance)|number_format(0,'',' ') }} FMG
                        </span>
                    </div>
                {% endif %}
            <br>
            {% for facture in factures %}
            <table class="mb-2">
                <thead>
                    <tr>
                        <th colspan="3">
                            {% for detail in facture.detailMateriel %}
                                {% if detail %}
                                    {{ detail.nomMateriel }}
                                {% endif %}
                            {% endfor %}
                        </th>
                    </tr>
                    <tr>
                        <th>Qte</th>
                        <th>Pu</th>
                        <th>Sous-total</th>
                    </tr>
                </thead>
                <tbody>
                    {% set qte = facture.qteAchete ? facture.qteAchete : 0 %}
                        <tr>
                            <td>
                                {{ qte }}
                            </td>
                            <td>
                                {% for detail in facture.detailMateriel  %}
                                    {% if facture.detailMateriel is defined %}
                                        {{ detail.prixUnitaire|number_format(0,'',' ') }} FMG
                                    {% endif %}
                                {% endfor %} 
                            </td>
                            <td>
                                {% for detail in facture.detailMateriel %}
                                    {% if facture.detailMateriel is defined %}
                                        {{ (detail.prixUnitaire * qte)|number_format(0,'',' ') }} FMG
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                </tbody>
            </table><br>
            {% endfor %}
            <table class="mb-3">
                <tr>
                    <td colspan="3"><b>Total:</b>
                        {% set somme = 0 %}
                        {% for facture in factures %}
                            {% set qte = facture.qteAchete %}
                            {% for detail in facture.detailMateriel %}
                                {% set somme = somme + (detail.prixUnitaire * qte) %} 
                            {% endfor %}
                        {% endfor %}
                        {{ somme|number_format(0,'',' ') }} FMG
                    </td>
                </tr>
            </table>
            <a class="text-black" onclick='window.print();'><i class="fas fa-print mb-2 fs-16"></i></a>
        </div>
    </div>
    <script src="{{ asset("libs/font-awesome/js/all.min.js") }}"></script>
</body>
</html>