<!DOCTYPE html>
<html lang="en">
<head>
    <title>Proforma</title>
    <style>
        body{
            font-family: sans-serif;
        }
        .facturation{
            height: 100vh;
        }
        .text-center{
            text-align: center;
        }
        .d-block{
            display:block;
        }

        .mb-2{
            margin-bottom : 3%;
        }
        .d-flex-justify-content-between{
            display:flex;
            justify-content: space-between; 
            margin-bottom: 3%;
        }
        .py-2{
            padding: 1% 0;
        }
        .fs-50{
            font-size: 50px;
        }
        .text-black{
            color: #000;
        }
        .dg-title{
            display: flex;
            justify-content: space-evenly;
        }
        th{
            padding: 25px;
        }
        td{
            padding-left: 25px;
        }
        table{
            margin: 0 auto;
            padding-top: 25px;
        }
    </style>

</head>
<body>
    <div class="facturation">
    <div class="d-flex justify-content-around dg-title">
    <div>
        <h4>DAGOTRUCK</h4>
        <h4>SAHALAVA</h4>
        <p class="mb-2">Dagotruck@gmail.com <br>034 02 143 61/034 20 747 91</p>
        <p>{{ 'now' |date('d-m-Y') }} à {{ 'now' |date('H:i') }}</p>
    </div>
    <div>
    </div>
        
    </div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Quantité</th>
      <th scope="col">Matériel</th>
      <th scope="col">P.U</th>
      <th scope="col">TOTAL</th>
    </tr>
  </thead>
  <tbody>
  {% for panier in paniers %}
    {% set qte = panier.quantity %}
                {% set prix =  panier.materiel.prixUnitaire %}
    <tr>
    
      <td> {{ qte }}</td>
      <td> {{ panier.materiel.materiel.nomMarque  }}</td>
      <td>{{ prix | number_format(0,'',' ') }} FMG</td>
      <td>{{ (prix * qte) | number_format(0,'',' ') }} FMG</td>
      
    </tr>
    {% endfor %}
  </tbody>
</table>
        
    
        {# <h3>Vente de pièces détachées<br><span class="text-center">neuves et occasions</span></h3>
        <div class="mb-2">
            <div class="d-flex-justify-content-between">
                <span><b>Date :</b></span>
                <span>{{ 'now' |date('d-m-Y') }} à {{ 'now' |date('H:i') }}</span>
            </div>
             <div class="d-flex-justify-content-between">
                <span><b>Total :</b></span>
                <span>{{ total | number_format(0,'',' ') }} FMG</span>
            </div>
        </div>
        <div>
        {% for panier in paniers %}
            <div class="mb-2">
                {% set qte = panier.quantity %}
                {% set prix =  panier.materiel.prixUnitaire %}
                <div class="py-2 ">
                    <b>Détail matériel : </b> {{ panier.materiel.nomMateriel }}
                </div>
                <div class="py-2 ">
                    <b>Quantité acheté : </b> {{ qte }}
                </div>
                <div class="py-2 ">
                    <b>Prix unitaire : </b> {{ prix | number_format(0,'',' ') }} FMG
                </div>
                <div class="py-2 ">
                    <b>Catégorie : </b> {{ panier.materiel.categorie }} 
                </div>
                <div class="py-2 ">
                    <b>Département : </b> {{ panier.materiel.departement.nomDepartement }} 
                </div>
                <div class="py-2 ">
                    <b>Matériel : </b> {{ panier.materiel.materiel.nomMarque  }} 
                </div>
                <div class="py-2 ">
                    <b>Sous-total : </b> {{ (prix * qte) | number_format(0,'',' ') }} FMG
                </div>
            </div>
        {% endfor %}
        
        </div> #}
        <p style="text-align: end;    margin-top: 55px;">SIGNATURE : </p>
        <a href="" class="text-black" onclick='window.print();'><i class="fas fa-print fs-50 mb-2"></i></a>
    </div>
    <script src="{{ asset("libs/font-awesome/js/all.min.js") }}"></script>
</body>
</html>