{% extends 'base.html.twig' %}

{% block title %}Vous n'avez pas le droit d'accéder à cette ressource{% endblock %}

{% block body %}
    <div class="container">
        <div class="alert alert-danger">
            <p>Vous n'avez pas le droit d'accéder à cette ressource</p>
        </div>
    </div>
{% endblock %}