{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <div class="container">
        <h1>Oups ! La page que vous recherchez n'existe pas !</h1>
    </div>
{% endblock %}