{% extends 'base.html.twig' %}

{% block title %}Modification de rôle
{% endblock %}
{% block body %}
	<div class="container">
		<h3 class="text-center mt-2">Attribution d'un rôle</h3>
		<div class="row">
			<div class="col-sm-4">
				{{ form_start(form) }}
					{{ form_widget(form) }}
					<button class="btn btn-success btn-sm px-4 btn_rounded">Modifier</button>
					<a href="{{ path('admin_user_index') }}" class="btn btn-warning btn-sm px-4 btn_rounded">Retourner</a>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}

