{% extends 'base.html.twig' %}

{% block title %}Admin de compte {{ parent() }}{% endblock %}
{% block body %}
    <section class="container my-3">
		<h3 class="text-center mt-3">Liste des utilisateurs</h3>
			{% include "partials/notification.html.twig" %}
			<table class="table" id="example">
				<thead>
					<tr>
						<th>Email</th>
						<th>Role</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
							<td>{{ user.email }}</td>
							<td>
								{% for role in user.roles %}
									 {{ role == "ROLE_USER" ? "Utilisateur" : role|replace({"ROLE_":''})|title }}
									{{ not loop.last ? ',' }}
								{% endfor %}
							</td>
							<td>
								<a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-info btn-sm px-4 btn_rounded">Editer</a>
                                <form method="post" action="{{ path('admin_user_delete', {'id': user.id}) }}" class="d-inline-block" onsubmit="return confirm('Vous voulez vraiment supprimer');">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button class="btn btn-danger btn-sm px-4 btn_rounded">Supprimer</button>
                                </form>
							</td>
						</tr>
					{% else %}
						<tr align="center">
							<td colspan="3">Aucun utilisateur</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
    </section>
{% endblock %}
